<% include ../public/header.ejs %>
<% include ../public/header-body.ejs %>

<!-- start: Main Menu -->
<div class="sidebar ">
	<div class="sidebar-collapse">
		<div class="sidebar-header t-center">
        	<h1>红星国际</h1>
        	<i class="fa fa-space-shuttle fa-3x blue"></i>
        </div>										
		<div class="sidebar-menu">
			<ul class="nav nav-sidebar">
				<li class="active">
					<a href="page-activity.html">
						<i class="fa fa-medium"></i>
						<span class="text"> 主页信息</span>
					</a>
				</li>
				<li class="">
					<a href="#">
						<i class="fa fa-envelope"></i>
						<span class="text"> 邮件信息</span>
						<span class="fa fa-angle-down pull-right"></span>
					</a>
					<ul class="nav sub">
						<li>
							<a href="page-activity.html">
								<span class="text"> 写邮件</span>
							</a>
						</li>
						<li>
							<a href="page-activity.html">
								<span class="text"> 收件箱</span>
							</a>
						</li>
						<li>
							<a href="page-activity.html">
								<span class="text"> 已发送</span>
							</a>
						</li>
						<li>
							<a href="page-activity.html">
								<span class="text"> 垃圾箱</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="page-activity.html">
						<i class="fa fa-male"></i>
						<span class="text"> 个人信息</span>
					</a>
				</li>
				<li class="">
					<a href="page-activity.html">
						<i class="fa fa-tasks"></i>
						<span class="text"> 论坛资料</span>
					</a>
				</li>
				<li class="">
					<a href="page-activity.html">
						<i class="fa fa-gear"></i>
						<span class="text"> 信息设置</span>
					</a>
				</li>
			</ul>
		</div>					
	</div>
	<div class="sidebar-footer">
		<div class="sidebar-brand">
			红星国际
		</div>
		<ul class="sidebar-terms clearfix">
			<li>
				<a href="#">帮助</a>
			</li>
			<li>
				<a href="#">关于我们</a>
			</li>
		</ul>		
		<div class="copyright text-center">
			copyright@徐洋
		</div>					
	</div>
</div>
<!-- end: Main Menu -->
	

<% include ../public/footer.ejs %>